

h1 {
    text-transform: capitalize;
    text-transform: uppercase;

    font-size: 20px;
    
    text-decoration: line-through;
    letter-spacing: 0.3rem;
    font-weight: 900;
    color: $link-hover;
    padding: 1rem 2rem;

    &::first-letter{
        text-transform: uppercase;
        
    }
}

.wt {
    color: $white;
}

.tel,
.email {
    color: $form-color;
}

h3 {
    letter-spacing: 0.2rem;
    font-weight: 700;
    color: $link-hover;

    &::first-letter{
        text-transform: uppercase;
        
    }

}

p {
    font-size: 12px;
}