

.form {
    background-color: $link-hover;
    color: $white;
    text-align: center;
    
    
    width: 35%;
    height: 28rem;

    margin: 0 auto;
    padding: 2rem;
    
    border-radius: 1rem;
    
    & p {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.1rem;
        padding: 0.5rem 0rem;
    }

    &__lists {
        margin: 1rem;
        padding: 0.4rem;
     
    }

    & .input {
        outline: none;

        width: 100%;
        padding: 0.6rem 0rem 0.6rem 0.6rem;
        background-color: $form-color;
        
        border: none;
        border-radius: 0.5rem;
        
        transition: all 0.3s;

        color: $white;

        &::placeholder {
            color: $white;
            letter-spacing: 0.15rem;
            opacity: 0.8;
        }

        &:hover {
            opacity: 0.6;
        }

    }


}